.cart-title {
    font-size: 2rem;
    margin: 1rem;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 4rem;
    gap: 1rem;
}

.emptyCart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 20rem;
    padding: 2rem;
    border: solid 0.2rem var(--green-color);
    border-radius: 0 2rem;
}

.emptyCart-img {
    width: 12rem;
    margin: 0 0 1rem;    
}

.clear-btn, .checkout-btn {
    margin: 1rem;
    font-size: 0.8rem;
}

.empty-btn {
    margin: 0 12rem;
}

.cart-total {
    font-size: 1.5rem;
}