.empty-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 10rem;
  padding: 2rem;
  border: solid 0.2rem var(--green-color);
  border-radius: 0 2rem;
}

.empty-title {
  font-size: 2rem;
  margin: 1rem;
}

.empty-img {
  width: 30%;
  margin: 0 0 1rem;
}

@media screen and (max-width: 800px) {
  .empty-container {
    margin: 4rem 5rem;
    padding: 1rem;
  }
}
