.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px var(--violet-color);
}

.card-container:hover {
    box-shadow: 5px 5px 15px var(--green-color);
}

.card-info {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-img {
    height: 10rem;
    width: 15rem;
    object-fit: contain;
}

.card-name {
    font-size: 2.5vh;
}

.card-prc {
    font-size: 3vh;
}

.card-btn {
    text-transform: none;
    padding: 0.1rem 0.3rem;
}