.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 1rem var(--violet-color);
}

.card-container:hover {
  box-shadow: 0.5rem 0.5rem 1rem var(--green-color);
}

.card-info {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-img {
  height: 10rem;
  width: 15rem;
  object-fit: contain;
}

.card-name {
  font-size: 2.5vh;
}

.card-prc {
  font-size: 3vh;
}

.card-btn {
  text-transform: none;
  padding: 0.1rem 0.3rem;
}

.out-of-stock {
  display: none;
}
