@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*   RESET    */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/*    FIN RESET    */

.violet-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0.3rem 0.3rem;
    border: solid var(--violet-color);
    background-color: var(--violet-color);
    border-radius: 1rem;
    font-family: inherit;
}

.violet-btn:hover {
  background-color: var(--grey-color);
  border: solid var(--grey-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E8E8;
}

:root{
  --violet-color: #7D3C98;
  --green-color: #4BF80F;
  --grey-color: #616A6B;
}