@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*   RESET    */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/*    FIN RESET    */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E8E8;
}

:root{
  --violet-color: #7D3C98;
  --green-color: #4BF80F;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
