@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*   RESET    */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/*    FIN RESET    */

.violet-btn {
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.3rem 0.3rem;
  border: solid var(--violet-color);
  background-color: var(--violet-color);
  border-radius: 1rem;
  font-family: inherit;
  cursor: default;
}

.violet-btn:hover {
  background-color: var(--grey-color);
  border: solid var(--grey-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e8e8;
}

:root {
  --violet-color: #7d3c98;
  --green-color: #4bf80f;
  --grey-color: #616a6b;
}
