.item-count .btn {
    text-transform: uppercase;
}

.item-count-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.btn {
    color: #FFFFFF;
    padding: 0.3rem;
    border: solid var(--violet-color);
    background-color: var(--violet-color);
    border-radius: 30px;
 }